.client-version-secrets-of-faydwer { background: url('./client-versions.png') -0px -0px; height: 350px; width: 248px; display: inline-block; }
.client-version-underfoot { background: url('./client-versions.png') -248px -0px; height: 349px; width: 250px; display: inline-block; }
.client-version-rain-of-fear { background: url('./client-versions.png') -0px -350px; height: 325px; width: 250px; display: inline-block; }
.client-version-titanium { background: url('./client-versions.png') -498px -0px; height: 325px; width: 250px; display: inline-block; }
.client-version-trilogy { background: url('./client-versions.png') -498px -325px; height: 325px; width: 250px; display: inline-block; }
.client-version-seeds-of-destruction { background: url('./client-versions.png') -0px -675px; height: 316px; width: 250px; display: inline-block; }
